/* 
    #141414 
    #5d535c
    #d9af23
*/
@font-face {
    font-family: astonpoliz;
    src: url(../fonts/Astonpoliz/Astonpoliz.otf),url(../fonts/Astonpoliz/Astonpoliz.ttf);

}
*{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    box-sizing: border-box;
    font-family: astonpoliz;
}
body{
    margin: 0;
    color: #F6F4F3;
}

 h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #d9af23;

}

/* tous les icons sont en couleur blanc et de taille 30px*/
i{
    color: #F6F4F3;
    font-size: 30px;
}

/* enlever tous les padding de ul */
ul{
    padding: 0;
}
/*css header  */
header{
    width: 100%;
    height: 50px;
    color: #F6F4F3;
    top: 0px;
    display: flex;
    position: sticky;
    background-color: #011936;
    opacity: 0.8;
}

header a{
    color: #F6F4F3;
}
header .user{
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
/* navbar :acceuil ,a propos,competence, education,contact positionné à droite  */
.navbar{
    position: absolute;
    right: 10px;
}
/* mettre les navbar cote à cote */
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin-right: 50px;
}
.navbar a:hover{
    padding: 10px;
    border-radius: 20px;
    background: #F6F4F3;
    color: #183059;
}

/* css div container */

/* page d'acceuil */
.home-page{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;  
    margin-bottom:-50px;
}
.bg-video{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
.home-page .home-container{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

}

.bloc-left{
    width: fit-content;
    text-align: center;
}
.bloc-left .title{
    width: fit-content;
}
.bloc-left .title h2{
    color: #F6F4F3;
    font-size: 50px;
}
.bloc-left .title h3{
    color: #d9af23;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.bloc-left .title #btn{
    padding: 10px 40px; 
    background: #d9af23;
    color: #141414; 
    border-radius: 20px;
    
}
.bloc-left .title #btn:hover{
    background: #F6F4F3;
    color: #141414;
}
i:hover{
    color: #d9af23;
}
/* manipulation des icons reseaux sociaux */
.bloc-left .title ul{
    display: flex;
    justify-content:space-evenly; 
    margin-top: 150px;
}

.about-me .user-1 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* div about_me */
.about-me{
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 100px 0;
}
.about-me .bio{
    width: 50%;
}
.about-me .bio span{
    color: #d9af23;
}
.about-me .bio div .texte{
    margin-bottom:30px ;
}
.about-me .bio a{
    margin-top: 50px;
    padding: 10px 30px;
    background: #d9af23;
    color: #011936;
    border-radius: 20px;
}
.about-me .bio a:hover{
    background: #F6F4F3;
    color: #011936;
}
/* bloc competence */
.skills-container {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.skills{
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.icon-skills img{
    width: 200px;
    height: 200px;
}

/* bloc education */
.education{
    width: 100%;
    padding-top: 50px;
}
.education-container {
    padding:0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left,.right{
    margin:0 20px;
    margin:0 30px;
}
.left,.right{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.education .education1{
    border: solid 2px #F6F4F3;
    width: 320px;
    height: 320px;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding:0 10px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 0 0.5em #F6F4F3;
}
.education1 h4{
    color: #d9af23;
}

/* section Contact */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form-group{
    width: 100%;
}

.form-group input,textarea{
    width:20%;
    height: 50px;
    margin: 10px;
    border: solid 1px #5d535c;
    border-radius: 20px;
    padding: 0 10px;
}

.form-group textarea{
    height: 80px;
    padding: 20px 10px;

}
form{
    width: 100%;
}

.form-group .send{
    background: #d9af23;
    padding: 10px 40px;
    border-radius: 20px;
    color: #011936;   
}

.form-group .send:hover{
    background: #F6F4F3;
    color: #011936;
}

footer{
    width: 100%;
    height: 70px;
    height: 100px;
    font-weight: bold;
    padding-top: 15px;
    margin-top: 50px;
}

footer{
    background: #F6F4F3;
    color: #011936;
    opacity: 0.5;
}

.footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer ul li i {
    padding:0 10px;
    color:#011936;
}

@media(min-width:930px){
    .form-group{
        width: 100%;
    }
    .form-group input,textarea{
        width:50%;
        height: 50px;
        margin: 10px;
        border: solid 1px #5d535c;
        border-radius: 20px;
        padding: 0 10px;

    }    
}
/* media query : responsivité*/
@media( max-width :930px){
    .navbar{
        position: absolute;
        top:-100px;
        /* top:-100px; */
        visibility: hidden;
    }
    h1{
        font-size: 30px;
    }
    
    .form-group{
        width: 100%;
    }
    .form-group input,textarea{
        width:60%;
        height: 50px;
        margin: 10px;
        border: solid 1px #5d535c;
        border-radius: 20px;
        padding: 0 10px;
    }
    .send{
        width: 100%;
    } 

}
@media(max-width: 540px){
    .about-me{
        padding:0;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .user-1{
        width: fit-content;
        margin: auto;
        justify-content: center;
        margin-top: 50px;
    }
    .user-1 img{
        width: 100px;
        height: 200px;
    }
    .about-me .bio{
        width: 90%;
        margin: auto;
        justify-content: center;
    }
    .bio .download{
        text-align: center;
    }
    .education1{
        width: 200px;
        height: 200px;
        font-size: 20px;
        padding: 5px;
    }
    .form-group input,textarea{
        width:90%;
        height: 50px;
    }       
    .send{
        width: 100%;
    } 
    footer{
        height: 140px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 10px;
        
    }
     .footer ul{
        display: flex;
        justify-content: start;
        align-items: center;
    } 

}

   @media(max-width:320px){
    .home-page{
        height: 100%;
    }
    .education .education1{
        border: solid 2px #F6F4F3;
        width: 280px;
        height: 280px;
        margin: 20px;
        padding:0 px;
        text-align: center;
        font-size: 30px;
        box-shadow: 0 0 0.5em #F6F4F3;
    }
   }