@font-face {
    font-family: astonpoliz;
    src: url(../fonts/Astonpoliz/Astonpoliz.otf),url(../fonts/Astonpoliz/Astonpoliz.ttf);
}
@font-face {
    font-family: inter;
    src: url(../fonts/static/Inter-Regular.ttf);
}
*{
    list-style: none;
    text-decoration: none;
    font-family: inter;
    font-size: 20px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    /* color: #fff; */
}
html{
    scroll-behavior: smooth;
}
body{
    background: #183059;
    margin: 0;
    color: #F6F4F3;
    position: relative;
    box-sizing: border-box;
    /* background-image: url(../img/dark-bg.jpg); */
}
h1{
    font-size: 50px;
    font-weight: bold;
    color: #d9af23;
    text-align: center;
}
/* tous les icons sont en couleur blanc et de taille 30px*/
i{
    font-size: 30px;
    color: #F6F4F3;
}
/* enlever tous les padding de ul */
ul{
    padding: 0;
}
/*touche mode ddark et mode light*/
.mode{
    position:fixed;
    top:50%;
    bottom:50%;
    right: 60px;
    z-index: 2;
}
.mode img{
    width: 50px;
    height: 50px;
}


.light-mode,.dark-mode{
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.light-mode{
    z-index: -2;
    background:#000; 
}
.dark-mode{
    z-index: 2;
    background: #fff;
}
/*background imge et video*/
.bg-video,.bg-img img{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }
    .bg-img {
        visibility: hidden;
    }


/*css header  */
header{
    width: 100%;
    height: 50px;
    color: #F6F4F3;
    display: flex;
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: #011936;
}
header a{
    color: #F6F4F3;
}
header .user{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
/*Menu pour small device*/
.menu{
    position: absolute;
    top: -100px;
    cursor: pointer;
    z-index: 2;
}

.user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* navbar :acceuil ,a propos,competence, education,contact positionné à droite  */
.navbar{
    position: absolute;
    right: 10px;    
}
/* mettre les navbar cote à cote */
.navbar .link{
    display: flex;
    align-items: center;
    margin: auto;
}
.navbar .link span{
    position: relative;
    margin-right: 40px;
}
.navbar .link a{
    padding: 10px; 
}
#skill-link{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar a:hover{
    color: #d9af23;
   
}
.navbar a:active  {
    /* width: 50px; */
    /* color: #183059; */
    /* background: #d9af23; */
    color: #d9af23;
    /* border-radius: 20px; */
}
.container{
    position: relative;
}
.container-toogle{
    display: none;
}
.menu-click{
    display: block;
}
.footer-container{
     display: block; 
}
.footer-toogle{
    display: none;
}
/* css div container */
/* page d'acceuil */
.home-page{
    width: 100%;
    height: calc(100vh - 50px);
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.loader{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 50px);
    background:#fff;
    opacity: 0.9;
    z-index: 55;
}
.loader-item{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 5px transparent;
    border-top: solid 5px #011936;
    border-bottom: solid 5px #011936;
    animation: loader 2s infinite linear;
}
@keyframes loader {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
    
}
.home-page .home-container{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
    text-align: center;
}
 .title{
    width: 100%;
} 

.title h2 {
    color: #F6F4F3;
    font-size: 50px;
    margin: 80px 0;
    text-align: center;
    
}
.title h2 span{
    color: #d9af23;
    font-size: 30px;
}
.btn{
    color: #141414; 
    background: #d9af23;
    border-radius: 25px;
    padding: 20px 40px;
}
.btn:hover{
    color: #141414;
    background: #F6F4F3;
}
.btn i{
    font-size:20px; 
    color: #011936;
}
i:hover{
    color: #d9af23;
}
/* manipulation des icons reseaux sociaux */
.social ul{
    display: flex;
    justify-content:space-around;
}
.social{
    width: 600px;
    align-items: end;
}
.social ul li {
    margin: 0 20px;
}
.social ul li i{
    font-size: 40px;
}
.about-me .user-1 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
/* div about_me */
.about-me{
    display: none;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 100px 0;
}
.about-me .bio{
    width: 50%;
}
.about-me .bio span{
    color: #d9af23;
}

.download{
    margin-top: 40px;
}
/* bloc competence */
.skills-container {
    width: 100%;
    display: none;
    overflow: hidden;
    margin: 0;
    padding-top: 20px;
}
.skills{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
}
.icon-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
    background: #011936;
    border-radius: 20px;
    border: solid 1px #F6F4F3;
    box-shadow: 2px 2px 2px #F6F4F3;
    padding: 5px;
    margin: 5px 0;
}
.techno{
    display: flex;
}
.techno div img{
    width: 50px;
    height: 50px;
}
.image-project{
    width: 100%;
    display: flex;
    justify-content: center;
}
.image-project img{
    width: 90%;
}
.icon-skills div{
    margin: 10px;
    font-size: 25px;
}
.icon-skills img{
    /* width: 200px; */
    height: 200px;
    
    border: solid 2px #F6F4F3;
    box-shadow: 4px 2px 5px #F6F4F3;
    border-radius: 20px;
}
.project-name{
    color: #d9af23;
}
.link-project {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.link-project span{
    width: 120px;
    display: flex;
    justify-content: center;
    background:#d9af23;
    color: #141414;
    border: solid 2px #F6F4F3;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}
.link-project span:hover{
    color: #141414;
    background: #F6F4F3;
}

/* bloc education */
.education{
    width: 100%;
    padding-top: 20px;
    display: none;
}
.education-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:0 50px;
}
.education-container-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.education h1 i{
    font-size:50px ;
}
.education .education-item{
    width: 320px;
    height: 320px;
    font-size: 30px;
    text-align: center;
    background: #011936;
    border: solid 2px #F6F4F3;
    border-radius: 20px;
    box-shadow: 4px 2px 5px #F6F4F3;
    cursor: pointer;
    margin: 20px;
    padding:0 10px;
}
.education-item:hover{
    transform: scale(1.05);
}

.education-item h4{
    color: #d9af23;
}
/* section Contact */
.contact{
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
     align-items: center; 
    text-align: center; 
    margin-top: 50px;
}
#contact{
    position: absolute;
    top: -50px;
    width: 1px;
    height: 1px;
}
.contact-container h1{
    margin-bottom: 5px;
}
.contact-container{
    width: 70%; 
    border-radius: 20px;
    border: solid 1px #F6F4F3;
    box-shadow: 2px 2px 2px #F6F4F3;
    padding-bottom: 50px;
}
.form-group{
    width: 100%;
}
.contact-container input,textarea{
    width:80%;
    height: 50px;
    margin: 10px;
    padding: 0 10px;
    border: none;
    border-radius: 20px;
}
input:focus{
    outline:2px solid #d9af23;
}
 textarea:focus{
    outline: 2px solid #d9af23;
}
.contact-container textarea{
    width: 80%;
     height: 80px; 
    padding: 20px 10px;
    margin-bottom: 15px;
}

form .send{
    width: 80%;
    height: 50px;
    color: #011936;   
    background: #d9af23;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.send:hover{
    color: #011936;
    background: #F6F4F3;
}
.footer-container{
    display: none;
}
footer{
    
    width: 100%;
    height: 100px;
    font-weight: bold;
    padding-top: 15px;
    margin-top: 50px;
}
footer{
    position: relative;
    background: #F6F4F3;
    color: #011936;
    opacity: 0.5;
}
.footer-container{
    position: relative;
    bottom: 0;
}
.footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.footer ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer ul li i {
    color:#011936;
    width: 40px;
    display: flex;
    justify-content: center;
}
.footer a{
    color: #011936;
}
/* commentaire */
@media(min-width:930px){
    .form-group{
        width: 100%;
    }
    .form-group input,textarea{
        width:50%;
        height: 50px;
        border: solid 1px #5d535c;
        border-radius: 20px;
        margin: 10px;
        padding: 0 10px;
    }    
}
/* media query : responsivité*/
@media( max-width :930px){
    .navbar a:hover{
        color: #F6F4F3;
        background: none;
    }
    
    .navbar{
        width: 100%;
        display: flex;
        position: relative;
    }
    .navbar .link{
        width:165px ;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0px;
        background: #011936;
        margin-left: 20px;
        border-radius: 10px;
     
    }
    .navbar .link-toggle{
        width:165px ;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0px;
        background: #011936;
        margin-left: 20px;
        border-radius: 10px;
    }
    .navbar .link span{
        margin: 10px 0;
        position: relative;
    }
    .navbar .link-toggle span{
        margin: 10px 0;
        position: relative;
    }
    .menu{
         top: 10px; 
         right: 40px; 
    }
    h1{
        font-size: 30px;
        padding-top: 20px;
    }
    .education h1 i{
        font-size: 30px;
    }
    
    .form-group{
        width: 100%;
    }
    .form-group input,textarea{
        width:60%;
        height: 50px;
        border: solid 1px #5d535c;
        border-radius: 20px;
        padding: 0 10px;
        margin: 10px;
    }
    .send{
        width: 100%;
    } 
}
@media(max-width: 600px){
    .social{
        width: 300px;
    }
    .about-me{
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding:0;
    }
    .user-1{
        width: fit-content;
        justify-content: center;
        margin: auto;
        margin-top: 50px;
    }
    .user-1 img{
        width: 100px;
        height: 200px;
    }
    .about-me .bio{
        width: 90%;
        justify-content: center;
        margin: auto;
    }
    .bio .download{
        text-align: center;
    }
    .education1{
        width: 200px;
        height: 200px;
        font-size: 20px;
        padding: 5px;
    }
    .contact-container{
        width: 90%;
    }
    form input,textarea{
        width:90%;
        height: 50px;
    }       
    .send{
        width: 100%;
    } 
    footer{
        height: 140px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 10px;
        padding-top:5px;
        
    }
 
     .footer ul{
        display: flex;
        justify-content: start;
        align-items: center;
    } 
    .footer ul li i {
        width: 50px;
    }
}
   @media(max-width:320px){
    .home-page{
        height: 100vh;
    }
    .education .education1{
        width: 280px;
        height: 280px;
        padding:0 px;
        margin: 20px;
    }
    .title h2{
        margin-bottom: 20px;
    }
    .social{
        width: 150px;
        margin: 20px 0;
    }
   }
   .footer-1{
        display: none;
   }